@keyframes animationPipes{
    from {
        right: -105px;
    }

    to {
        right: 100%;
    }
}

@keyframes animationCloud{
    from {
        right: -700px;
    }

    to {
        right: 100%;
    }
}

@keyframes animationJumpBird {
    from {
        transform: rotate(-15deg);
        bottom: var(--positionMoment);
    }

    to {
        transform: rotate(3deg);
        bottom: var(--positionJumpFinal);
    }
}

@keyframes animationFallBird {
    from {
        transform: rotate(4deg);
        bottom: var(--positionJumpFinal);
    }

    to {
        transform: rotate(45deg);
        bottom: 0;
    }
}

@keyframes animationCoin {
    from {
        right: -5%;
    }
    to {
        right: 100%;
    }
}
